@font-face {
    font-family: 'Bariol';
    src: url('fonts/bariol_bold-webfont.eot');
    src: url('fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bariol_bold-webfont.woff') format('woff'),
         url('fonts/bariol_bold-webfont.ttf') format('truetype'),
         url('fonts/bariol_bold-webfont.svg#bariol_boldbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol';
    src: url('fonts/bariol_regular-webfont.eot');
    src: url('fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bariol_regular-webfont.woff') format('woff'),
         url('fonts/bariol_regular-webfont.ttf') format('truetype'),
         url('fonts/bariol_regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
