.example-module-b
  +pre(1)
  +span-columns(2)
  +post(1)
  background-color: rgba(255, 0, 0, 0.5)

  +at-breakpoint($tablet-and-above)
    +pre(1)
    +span-columns(6)
    +post(1)
    background-color: rgba(0, 255, 0, 0.5)

  +at-breakpoint($desktop-and-above)
    +pre(2)
    +span-columns(8)
    +post(2)
    animation: flash 1s infinite
