// Resist the temptation to define lots of default styles in here!
// Most of the time, Normalize.css plus these few additions are all you need.
// Scope all other styles to a module or utility so you're building on small, simple core base styles.

html
  box-sizing: border-box
  font-family: $helvetica
  height: 100%

// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*:before,
*:after
  box-sizing: inherit

body
  background-color: $white
  height: 100%
  margin: 0

a
  color: $green
